@use "mixins";
#aDiscountdiv {
  @include mixins.backgrounds(var(--first-color));
  #aDiscountPar {
    text-align: center;
    @include mixins.font(16px, 400, 23px, #ffffff);
    a {
      color: #ffffff;
    }
  }
}
.aSearchDiv{
  background: linear-gradient(
    180deg,#fff,#f9f8f8);
        border: 1px solid #dfe2e6;
  padding: 10px 100px;
  @include mixins.border(0,1px solid #dfe2e6);
  .aSearchIcon{
    color: gray;
    right: 3%;
    bottom: 40%;
  }
  .aChangeButton{
    @include mixins.border(7px,1px solid var(--first-color));
    @include mixins.font(15px,600,10px,var(--first-color));
    &:hover{
      @include mixins.backgrounds(var(--first-color));
      color: white;
    }
  }
  input{
    box-shadow: 1px 1px 3px 1px gray;
  }
}
.aRootDiv{
  background: linear-gradient(
    180deg,#fff,#f9f8f8);
        border: 1px solid #dfe2e6;
  padding: 10px 100px;
  @include mixins.border(0,1px solid #dfe2e6)
}
.aRootWords {
  @include mixins.font(14px,400,20px,var(--first-color));
}

%aTastyOffers {
  @include mixins.backgrounds(#faf9f8);
}
#aWords {
  width: 97%;
}
#aTastPar {
  @include mixins.font(28px, 600, 40px, #464748);
}
#aSeeallLink {
  @include mixins.font(14px, 600, 20px, var(--first-color));
}

#aOfferCards {
  border-bottom: 1px solid var(--border-color);
  width: 97%;
  .aLinkCard {
    text-decoration-line: none;
    .aCardBody {
      @include mixins.backgrounds(#ffffff);
      margin: -27px auto 0;
      padding: 10px;
      width: 96%;
      @include mixins.border(8px);
    }
    .aFigRes {
      @include mixins.border(8px);
      width: 100%;
      overflow: hidden;
      height: 140px;
      position: relative;
    }
    .aImgCard {
      max-width: 300px;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      height: auto;
      width: auto;
      filter: brightness(0.7);
    }
    .aImgCaption {
      @include mixins.backgrounds(rgba(0, 0, 0, 0.2));
      @include mixins.border(0 25px 25px 0);
      position: absolute;
     bottom: -12px; 
      left: 12px;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      .aImgTitle {
        @include mixins.font(13px, 600, 16px, #fff);
      }
    }
  }
  .aLinkCard:hover .aImgCaption {
    transform: translateY(-30px);
  }
  #aImgRes {
    width: 40px;
  }
  #aResName {
    @include mixins.font(16px, 600, 36px, #2a2b2c);
  }
  .aDisAlert {
    padding: 5px 15px;
    @include mixins.font(12px, 600, 20px, #4caf50);
    @include mixins.backgrounds(#4caf501a);
    @include mixins.border(5px);
  }
}

#previous {
  width: 35px;
  height: 35px;
  position: absolute;
  @include mixins.backgrounds(var(--first-color));
  @include mixins.border(0, 0px solid white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0);
  top: 60%;
}
#next {
  width: 35px;
  height: 35px;
  position: absolute;
  @include mixins.backgrounds(var(--first-color));
  @include mixins.border(0, 0px solid white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0);
  top: 40%;
  right: 2%;
}

.aShowWord {
  @include mixins.font(20px, 600, 28px, #7b7d7f);
}

.switch {
  width: 60px;
  height: 33px;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include mixins.backgrounds(white);
    @include mixins.border(0, 1px solid #ebe4f8);
    box-shadow: 5px 5px 5px 5px #ebe4f8 inset;
    transition: 0.5s;
  }
  .slider::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(195, 195, 195);
    border: 2px solid #b1b1b1;
    transition-duration: 0.5s;
  }
  input:checked + .slider {
    background-color: #ebe4f8;
    box-shadow: 1px 1px 1px #ebe4f8 inset;
  }

  input:focus + .slider {
    box-shadow: 1px 1px 1px #ebe4f8 inset;
  }

  input:checked + .slider:before {
    transition-duration: 0.5s;
    transform: translateX(26px);
    background-color: #4caf50;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 200px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
}

.aOnlinetext {
  @include mixins.font(14px, 500, 20px, #2a2b2c);
}
.abox {
  cursor: pointer;
  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  .acheck {
    height: 22px;
    width: 22px;
    @include mixins.border(0, 1px solid rgb(207, 207, 207));
    box-shadow: 0px 0px 0px 2px rgb(207, 207, 207);
    .acheckmark {
      color: white;
      padding-bottom: 12px;
      padding-left: 2px;
    }
  }
  & input:checked ~ .acheck {
    @include mixins.backgrounds(var(--first-color));
  }
}

.aSortbyTitle {
  @include mixins.font(14px, 600, 1.1px, #292b2c);
}
.aRadio {
  cursor: pointer;
  position: relative;
  display: block;
  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .aCheckdot {
    color: var(--first-color);
    font-size: 22px;
    margin-top: 9px;
    padding-right: 10px;
    display: none;
  }
  .adot {
    margin-top: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    @include mixins.border(50%, 1px solid rgb(207, 207, 207));
    box-shadow: 0px 0px 0px 2px rgb(207, 207, 207);
  }
  & input:checked ~ .adot {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    @include mixins.border(50%, 0px solid rgb(255, 255, 255));
  }
  & input:checked ~ .aCheckdot {
    display: block;
  }
}
.acontainerSort {
  margin-left: -24px;
  .aSortType {
    @include mixins.font(14px, 600, 40px, #7b7d7f);
  }
}
.aLink33More {
  @include mixins.font(13px, 900, 16px, #8e52ff);
}
.aTopDishes {
  @extend %aTastyOffers;
  @include mixins.backgrounds(rgb(255, 255, 255));
  width: 100%;
  margin-left: -50px;
  .aWords {
    width: 100%;
  }
}
.aRestaurant {
  @extend .aTopDishes;
  margin-left: -27px;
}

.aprevious {
  width: 35px;
  height: 35px;
  position: absolute;
  @include mixins.backgrounds(var(--first-color));
  @include mixins.border(50%, 0px solid white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0);
  top: 60px;
}
.anext {
  @extend .aprevious;
  right: 0;
}
.aDivTopDish {
  cursor: pointer;
  img:hover {
    @include mixins.border(10px, 3px solid var(--first-color));
  }
  a:focus > img {
    @include mixins.border(10px, 3px solid var(--first-color));
  }
}

.aResDiv {
  margin-left: -30px;
  .aImgRes {
    width: 40px;
  }
  .aDisAlert {
    padding: 5px 15px;
    @include mixins.font(12px, 600, 20px, #4caf50);
    @include mixins.backgrounds(#4caf501a);
    @include mixins.border(5px);
  }
  .aLinkCard {
    text-decoration-line: none;
    .aFigRes {
      @include mixins.border(8px);
      width: 100%;
    }
    .aImgCaption {
      @include mixins.backgrounds(rgba(0, 0, 0, 0.2));
      @include mixins.border(0 25px 25px 0);
      z-index: 0;
      left: 12px;
      position: absolute;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      .aImgTitle {
        @include mixins.font(13px, 600, 16px, #fff);
      }
    }
  }
}
.aImg {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.aLinkCard:hover .aImgCaption {
  transform: translateY(-80px);
  @include mixins.backgrounds(rgba(0, 0, 0, 0.2));
}
.aLinkCard:hover .aImg {
  filter: brightness(0.8);
}
.aSliderImgCrd {
  @include mixins.backgrounds(rgba(0, 0, 0, 0.1));
  @include mixins.border(25px 25px 25px 25px);
  right: 0;
  opacity: 0;
  @include mixins.font(30px,200,20px,#FFF);
  top: 0%;
  height: 100%;
  width: 25%;
  z-index: 0;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  i{
    transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
    transform: translateX(50px);
  }
}
.aContentCard:hover .aSliderImgCrd{
  opacity: 1;
  i{
    transform: translateX(-30px);
  }
}
.aContentCard:hover {
  @include mixins.border(10px);
  box-shadow: 1px 1px 8px 3px gray;
}
.aD {
  @include mixins.border(0, 0 solid white);
}
#aImgRes {
  width: 40px;
}
#aResName {
  @include mixins.font(16px, 600, 20px, #2a2b2c);
}
#aResType {
  @include mixins.font(13px, 500, 20px, #7b7d7f);
  display: inline-block;
}
.aCardBody {
  @include mixins.backgrounds(#ffffff);
  margin: -60px auto 0;
  padding: 10px;
  z-index: 4;
}
.aLoadButton{
  @include mixins.font(16px,600,30px, #FFF);
  @include mixins.backgrounds(var(--first-color));
  &:hover{
    opacity: 0.9;
    filter: brightness(0.9);
    color: white;
  }
}

