.home_main nav .home_sign{
    display: none;
}
.home_main nav .home_logo{
    display: block;
    margin: auto;
}
.home_main_title{
    font-size: 28px;
    font-weight: 900;
    line-height: 1.5;
    margin: 30px auto 70px;
}
.section_footer_link1{
    border: none;
    border-bottom:1px solid #a9acae;;
}
.order_online_footer{
    text-align: center;
    margin: auto;
}
.order_online_footer .delivery-btn{
    display: block;
    margin: auto;
    margin-top: 0;
    width: 40%;
}
.footer_footer .social,.more-links,.copyright{
    margin: auto;
    text-align: center;

}
.footer_footer .social{
    padding-top: 12px;
    border-top:1px solid #c3c5c7;
    border-bottom: 1px solid #c3c5c7;
}
.footer-images{
    text-align: center;
    background: url(/images/footer-illustration.png) no-repeat bottom;
    padding-bottom: 250px;
}
.footer-images img{
    width: 100px;
}
.footer-images img.img1{
    width: 200px;
}
.home_main_section_content button ,.input-holder2{
    margin-left:0;
}
.input-holder{
    width: 100%;
 
}
.input-holder2{
    margin-top: 8px;
    width: 100%;
      
}
.input-holder2 input{
    width: 100%;
}

.home_main_section_content .submit-btn{
    width: 40%;
    margin-top: 8px;
    margin-left: 30%;

}