@use "mixins";
.aRootDiv {
  background: linear-gradient(180deg, #fff, #f9f8f8);
  border: 1px solid #dfe2e6;
  padding: 10px 100px;
  @include mixins.border(0, 1px solid #dfe2e6);
}
.aRootWords {
  @include mixins.font(14px, 400, 20px, var(--first-color));
}
body,
html {
  height: 100%;
}
.aDivImgCover {
  overflow: hidden;
  max-height: 220px;
  position: relative;
  .aImgCover {
    width: 100%;
  }
  .aDivPromo {
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 4%;
    padding: 10px;
    @include mixins.backgrounds(white);
    @include mixins.border(10px, 2px solid #9797973b);
    h3 {
      @include mixins.font(20px, 600, 1.1, black);
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h5 {
      @include mixins.font(15px, 500, 1.1, #6c6d6e);
      margin: 10px 0;
    }
    .aPromoActivation {
      @include mixins.font(15px, 600, 1.1, black);
      padding: 8px 13px;
      margin-top: 15px;
      span {
        @include mixins.backgrounds(#f3f3f3);
        @include mixins.border(5px, 0);
        @include mixins.font(18px, 600, 0, black);
      }
      button {
        color: #4caf50;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
}

.aRestDetDiv{
    width: 90%;
    .aResImgDivL{
        top: -50px;
        width: 20%;
        .aOpen{
            @include mixins.font(13px,500,12px,#e32207);
            text-align: center;
            @include mixins.backgrounds(#f1f1f1);
            @include mixins.border(10px,0);
            bottom: 0;
        }
    }
    .aResDetL{
        width: 80%;
        .aResNameDiv{
            @include mixins.font(35px,600,39px,#333333);
        }
    }
    .aSubtitle{
        .aTypeRes{
            @include mixins.font(14px,500,14px,rgba(0, 0, 0, 0.5));
        }
        .aRateStars{
            @include mixins.font(12px,500,12px,rgb(226, 192, 0))
        }
        .aResAddress{
            @include mixins.font(15px,500,21px,black)
        }
    }
}
.aRightDet{
    .aResAction{
        width: 40%;
        .aExampleSpan{
            display: inline-block;
            width: 30%;
            box-shadow: 0 6px 13px 0 rgb(0 0 0 / 10%);
            .aExampleAction{
                @include mixins.font(20px,500,30px,var(--first-color));
                padding-left: 10px;
            }
        }
    }
}
.aTapsDiv{
    width: 93%;
    a{
        text-decoration-line: none;
    }
    .try .active{
        @include mixins.font(16px,600,18px,white);
        @include mixins.border(15px ,0);
        @include mixins.backgrounds(var(--first-color)!important);
    }
    .try button{
        @include mixins.font(16px,600,18px,gray);
        @include mixins.border(15px ,0);
    }
    .try button:hover{
        @include mixins.font(16px,600,18px,gray);
        @include mixins.backgrounds(rgb(211, 211, 211));
        @include mixins.border(15px ,0);
    }
    .aIcont{
        @include mixins.font(15px,500,21px,#f7b500);
    }
    .aIcond,.aIconw,.aIconc{
        @extend .aIcont;
        color: #8d8f91 ;
    }

    .aScrollSpy{
        width: 100%;
        
        .list-group-item{
            @include mixins.font(16px,400,23px,#7b7d7f);
            @include mixins.border(0!important,0 !important);
            transition-property: all;
            transition-duration: 0.5s;
            border-bottom: 1px solid #f0f4f7 !important;
        }
        .aRightIcon{
            display: none;
        }
        /*.list-group-item-action:focus{
            @include mixins.font(16px,400,23px,white);
            @include mixins.border(12px!important,0 !important);
            @include mixins.backgrounds(var(--first-color !important));
            .aRightIcon{
                display: inline-block;
            }
        }*/
        .list-group-item:hover{
            @include mixins.font(16px,400,23px,white);
            @include mixins.border(12px!important,0 !important);
            @include mixins.backgrounds(var(--first-color));
            .aRightIcon{
                display: inline-block;
            }
        }
        .list-group .active{
            @include mixins.backgrounds(var(--first-color)!important);
            @include mixins.border(12px!important,0 !important);
            .aRightIcon{
                display: inline-block;
            }
            @include mixins.font(16px,400,23px,white);
        }
        ::placeholder {
            @include mixins.font(14px,700,20,#7b7d7f);
        }
        .aLinkMenuScan{
            @include mixins.font(15px,500,43px,var(--first-color));
            text-decoration: underline;
        }
        .aItem{
            @include mixins.font(28px,600,31px,#2a2b2c)
        }
    }
    
}
.vertical{
    border-left: 1px solid rgb(216, 216, 216);
            height: 100%;
            position:absolute;
}
.aDishType{
    @include mixins.font(16px,600,1.3,#2a2b2c);
}
.aDishDet{
    @include mixins.font(14px,400,1.3,#a9acae)
}
.aDishPrice{
    @include mixins.font(15px,1000,1.3,var(--first-color))
}
.aThumbIcon{
    cursor: pointer;
}
.aThumbIcon:focus{
    color: #464748;
}
.aDeliverAddr{
    @include mixins.backgrounds(#FEF6F5);
    @include mixins.border(12px,0);
    padding: 15px;
    .aMotoIcon{
        color: #E32207;
        font-size: 30px;
    }
    .aDeliverto span{
        @include mixins.font(20px,600,22px,#7a7a7a);
    }
    .aDeliverto{
        @include mixins.font(20px,600,22px,var(--first-color));
    }
    & button{
        @include mixins.backgrounds(white);
        box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
        font-size: 15px;
    font-weight: 500;
    }
}