:root{
    --first-color:#e32207;
    --bt-hover:#bd1b05;
    --second-color:#474747;
    --bg-color:#FAF9F9;
    --border-color:#dfe2e6;
    --font-family:Gilroy, "Open Sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}